*{
	margin:0px;

}
body{
	background-color:black;
	color:white;
}
header{
	display:flex;
	justify-content:space-between;
	padding:5px 10px;
	align-items:center;
}#logolink{
	display:flex;
	align-items:center;
}
#logolink h1{
margin-right:50;
}
a{ transition:all 1s;
	color:white;
	padding-right:20px;
	padding-left: 20px;
	text-decoration-line: none;
	margin-right: 10px;
	font-size: 20px;


}

a:hover{
	color:red;
	background-color:green;
	border-radius:20px;
	border-color:white;
}
